{% extends 'base.html' %}


    {% block content %}
        <div style="margin-top: 1%">
            <div class="container-fluid">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="bg-image card shadow-1-strong"
                             style="background: linear-gradient(90deg, rgba(108,194,255,1) 0%, rgba(195,254,153,1) 80%, rgba(139,235,255,1) 100%);">
                            <div class="card-body text-white">
                                <h2>Наша команда: "Блондинки под винишко"</h2>
                                <h3>Мы студентки факультета ИТиАБД Финансового Университета</h3>
                                <h3>Наш сайт направлен на прохождение Профориентации 3 способами</h3>
                                <h3>А так же вы можете прочитать несколько статей в сфере АйТи и узнать много нового</h3>
                                <img src="https://masterpiecer-images.s3.yandex.net/05ff3f43856e11eebbc3d20dae950626:upscaled" alt="Блондинки под винишко" width="50%" height="50%">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
