{% extends 'base.html' %}
    {% block content %}
        <div style="margin-top: 1%">
            <div class="container-fluid">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="bg-image card shadow-1-strong"
                             style="background: linear-gradient(90deg, rgba(108,194,255,1) 0%, rgba(195,254,153,1) 80%, rgba(139,235,255,1) 100%);">
                            <div class="card-body text-white">
                                <h2>{{ post.title }}</h2>
                                <p>Автор поста: <b>{{ post.author }}</b></p>
                                <p>{{ post.body }}</p>
                                <img src="https://masterpiecer-images.s3.yandex.net/87fcba146e7e11ee9ec8badf81d486ab:upscaled" alt="Программист с компьютером" width="40%" height="40%">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
